html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    
}

body {
    background-color: var(--body);
    font-family: 'Rubik', sans-serif;
}

img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}
  
a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}